---
title: Shift Cryptosecurity
description: Swiss-made hardware and software for easy cryptocurrency use and storage.
image: /assets/images/ogp/bitbox02.png
---

<div class="hero rightup topFlat h-padding p-none" id="intro">
  <div class="content-width">
    <div class="row center-xs start-sm">
      <div class="col-xs-12 col-sm-7 col-md-7">
        <h1 class="title onHero wow fadeIn">
          <span class="standOut">BitBox<span class="lab-light">02</span> <span class="lab-regular">hardware wallet</span></span>
        </h1>
        <div>
          <img class="opensource" src="{{ '/assets/images/logos/swiss_made_open_source.svg' | relative_url }}" alt="Swiss Made Open Source" />
        </div>
        <div class="inline m-top-large wow fadeIn" data-wow-delay=".4s">
          <a href="{{ site.baseurl }}{% link bitbox02/index.html %}" class="button generic shadow wow fadeIn text-center" data-wow-delay=".1s">Learn more</a>
          <a href="{{ site.baseurl }}{% link bitbox02/index.html %}#choose_edition" class="button primary shadow wow fadeIn text-center" data-wow-delay=".1s">Buy now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-image">
    <img src="{{ '/assets/images/products/composition.png' | relative_url }}" alt="" />
  </div>
</div>

<section class="with-space rightup large">
  <div class="content-width">
      {% include bitbox-logo.html %}
    <div class="row center-xs">
      <div class="col-xs-11 col-sm-9 col-md-7 text-center">
        <h1 class="title wow fadeIn">BitBox<span class="lab-light">02 hardware wallet</span></h1>
        <h4 class="subtitle wow fadeIn" data-wow-delay=".1s">Secure your crypto assets with our minimalist hardware wallet.<br>The physical key to your digital world.</h4>
      </div>
    </div>
    <div class="row center-xs m-top-large">
      <div class="col-xs-11 col-sm-5">
        <div class="lpimg">
          <img src="{{ '/assets/images/products/bb02_side_screen_on.png' | relative_url }}" alt="" />
        </div>
        <p class="m-bottom-medium text-center">The BitBox02 hardware wallet lets you secure and manage your crypto assets with ease.</p>
        <div class="inline">
          <a href="{{ site.baseurl }}{% link bitbox02/index.html %}" class="button generic wow fadeIn text-center" data-wow-delay=".1s">Learn more</a>
          <a href="{{ site.baseurl }}{% link bitbox02/index.html %}#choose_edition" class="button primary wow fadeIn text-center" data-wow-delay=".1s">Buy now</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="with-space rightup decorator" style="background-image: url({{ '/assets/images/images/mountains4-3.jpg' | relative_url }});">
  <div class="mobile-background-container">
    <div class="mobile-background" style="background-image: url({{ '/assets/images/images/mountains4-3.jpg' | relative_url }});"></div>
  </div>
  <div class="content-width">
    <div class="row center-xs">
      <div class="col-xs-10 col-sm-9 col-md-7">
        <h1 class="title white wow fadeIn" data-wow-delay=".1s">Get involved</h1>
        <h4 class="subtitle white wow fadeIn" data-wow-delay=".1s">Our mailing list covers developments and releases about our growing ecosystem of open-source products.</h4>
        <form action="https://shiftcrypto.us20.list-manage.com/subscribe/post?u=d425177ce9ba3482f7f26762a&amp;id=df03d20df1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll" class="row wow fadeInUp" data-wow-delay=".1s" data-wow-duration=".5s" style="margin-bottom: 10px;">
          <div class="col-xs-8">
            <input type="email" style="width: 100%;" placeholder="Your Email"  value="" name="EMAIL" class="required email" id="mce-EMAIL"/>
          </div>
          <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response no-show"></div>
          <div class="response" id="mce-success-response no-show"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d425177ce9ba3482f7f26762a_df03d20df1" tabindex="-1" value=""></div>
          <div class="col-xs-4">
            <button class="button primary shadow" style="width: 100%; min-width: 0;" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Join</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="with-space rightup large">
  <div class="content-width">
      {% include bitbox-logo.html %}
    <div class="row center-xs">
      <div class="col-xs-11 col-sm-9 col-md-7 text-center">
        <h1 class="title wow fadeIn" data-wow-delay=".1s">BitBox<span class="lab-light">App</span></h1>
        <h4 class="subtitle wow fadeIn" data-wow-delay=".1s">Our cross-platform, open-source app is straightforward, yet suitable for expert use.</h4>
        <div class="m-top-xlarge">
          <div class="wow fadeIn relative" data-wow-delay=".1s">
            <img src="{{ '/assets/images/images/laptop-app.png' | relative_url }}" class="wow fadeIn width-100" data-wow-delay=".1s" alt="" />
            <div class="desk-slides">
              <div class="slides-container">
                <div class="slides simple-slider" data-simple-slider>
                  <img src="{{ '/assets/images/products/bitbox_app.png' | relative_url }}" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="inline m-top-xlarge wow fadeIn" data-wow-delay=".1s">
          <a href="{{ site.baseurl }}{% link app/index.html %}" class="button generic wow fadeIn text-center" data-wow-delay=".1s">Learn more</a>
          <a href="{{ site.baseurl }}{% link start/index.html %}" class="button primary wow fadeIn text-center" data-wow-delay=".1s">Download</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="with-space leftup decorator" style="background-image: url({{ '/assets/images/images/mountains4-3.jpg'| relative_url }});">
  <div class="mobile-background-container">
    <div class="mobile-background" style="background-image: url({{ '/assets/images/images/mountains4-3.jpg'| relative_url }});"></div>
  </div>
  <div class="content-width">
    <div class="row center-xs">
      <div class="col-xs-10 col-sm-9 col-md-7 text-center">
        <h1 class="title white wow fadeIn" data-wow-delay=".1s">We value transparency</h1>
        <h4 class="subtitle white wow fadeIn m-bottom-none" data-wow-delay=".1s">We aim to minimize the need for our customers to trust anything, including ourselves.</h4>
      </div>
    </div>
  </div>
</section>

<section class="with-space leftup leftdown large">
  <div class="content-width">
      {% include bitbox-logo.html %}
    <div class="row center-xs">
      <div class="col-xs-11 col-sm-9 col-md-7 text-center">
        <h1 class="title wow fadeIn" data-wow-delay=".1s">BitBox<span class="lab-light">Base</span></h1>
        <h4 class="subtitle wow fadeIn" data-wow-delay=".1s">Join us as we open-source the development of a professional Bitcoin & Lightning full node to equip you for full Bitcoin sovereignty.</h4>
        <div class="m-top-xlarge">
          <img src="{{ '/assets/images/products/bbbase-beta-web.png' | relative_url }}" class="wow fadeIn width-80" data-wow-delay=".1s" alt="" />
        </div>
        <p class="meta italic">Beta image</p>
        <div class="inline m-top-xlarge wow fadeIn" data-wow-delay=".1s">
          <a href="{{ site.baseurl }}{% link base/index.html %}" class="button generic wow fadeIn text-center" data-wow-delay=".1s">Learn more</a>
          <a href="https://github.com/digitalbitbox/bitbox-base" class="button primary wow fadeIn text-center" data-wow-delay=".1s">View on GitHub</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="rightup large with-space gray-gradient">
  <div class="content-width">
    <div class="row center-xs">
      <div class="col-xs-11 col-sm-8 col-md-6 text-center">
        <h1 class="title wow fadeIn" data-wow-delay=".1s">Latest blog posts</h1>
        <div id="fm-medium-embed"></div>
        <script src="https://data.feedmirror.com/embed.js" integrity="sha384-sBYSghl88mRHnnl/Vy9ovlaJNW7ZHJNoUg6Y1dQ2cyHvox+EVxpngUXMqU70Cvoq" crossorigin="anonymous"></script>
        <script>
          var fmSettings = {
            feedURL: 'https://data.feedmirror.com/-LurdCyrRsHYJrsJz7l_.json',
            integration: 'medium-embed',
            linkOutText: 'Continue reading',
            linkToMediumProfileText: 'Subscribe on Medium',
            showPostImages: false,
            postsCount: 3,
            element: 'fm-medium-embed'
          };
          feedmirror.initialize(fmSettings);
        </script>
      </div>
    </div>
  </div>
</section>
