<div class="subnav-container">
  <div class="content-width">
    <div class="row center-xs">
      <div class="col-xs-12">
        <ul class="subnav text-left">
          <li {% if page.path == 'base/index.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}{% link base/index.html %}">Overview</a></li>
          <li {% if page.path == 'base/early-bird.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}{% link base/early-bird.html %}">Early bird program</a></li>
          <li class="end"><a href="https://base.shiftcrypto.ch/" target="_blank">Documentation</a></li>
          <li><a href="https://github.com/digitalbitbox/bitbox-base" target="_blank">View on GitHub</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
