<div class="subnav-container">
  <div class="content-width">
    <div class="row center-xs">
      <div class="col-xs-12">
        <ul class="subnav text-left">
          <li {% if page.path == 'policies/refund-policy.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}{% link policies/refund-policy.html %}">Refund policy</a></li>
          <li {% if page.path == 'policies/privacy-policy.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}{% link policies/privacy-policy.html %}">Privacy policy</a></li>
          <li {% if page.path == 'policies/terms-of-service.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}{% link policies/terms-of-service.html %}">Terms of service</a></li>
          <li {% if page.path == 'policies/limited-warranty.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}{% link policies/limited-warranty.html %}">Limited warranty</a></li>
          <li {% if page.path == 'policies/bug-bounty-policy.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}{% link policies/bug-bounty-policy.html %}">Bug bounty policy</a></li>
          <li {% if page.path == 'policies/use-of-branding.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}{% link policies/use-of-branding.html %}">Use of branding agreement</a></li>
          <li {% if page.path == 'policies/shipping.html' %}class="active"{% endif %}><a href="{{ site.baseurl }}{% link policies/shipping.html %}">Shipping information</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
