---
title: BitBoxApp
description: An all-in-one solution to securely manage your digital assets with ease.
image: /assets/images/ogp/bitboxapp.png
---

{% include app-subnav.html %}

<section style="overflow: hidden; position: relative" class="rightup topFlat with-space gray-gradient">
  <div class="content-width">
    {% include bitbox-logo.html %}
    <div class="row center-xs">
      <div class="col-xs-11 col-sm-8 col-md-6 text-center">
        <h1 class="title wow fadeIn" data-wow-delay=".1s">BitBox<span class="lab-light">App</span></h1>
        <h4 class="subtitle wow fadeIn" data-wow-delay=".2s">Our simple yet powerful desktop app is at the center of the BitBox ecosystem. An all-in-one solution to securely manage your digital assets with ease.</h4>
        <div class="row m-top-xlarge">
          <div class="col-xs-12">
            <img class="product-image wow fadeIn" data-wow-delay=".3s" src="{{ '/assets/images/products/bitbox_app.png'| relative_url }}" alt="">
          </div>
        </div>
        <div class="m-top-xlarge">
          <p><a href="{{ site.baseurl }}{% link start/index.html %}" class="button primary shadow wow fadeIn" data-wow-delay=".1s">Download</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="rightup rightdown with-space">
  <div class="content-width">
    <div class="row center-xs">
      <div class="col-xs-11 col-sm-9 col-md-7">
        <h1 class="title wow fadeIn" data-wow-delay=".1s">Features</h1>
        <h4 class="wow fadeIn" data-wow-delay=".1s">We are continuously updating the app with new functionality and features.</h4>
      </div>
    </div>
    <div class="row center-xs">
      <div class="col-xs-11 col-sm-10 col-md-9">
        <div class="row center-xs">
          <div class="feature col-xs-11 col-sm-5 fadeIn" data-wow-delay=".3s" data-wow-duration=".5s">
            <h4>Bech32 support</h4>
            <img class="width-40" src="{{ '/assets/images/feature_icons/bb-app-bech32.svg' | relative_url }}" alt="">
            <p class="m-top-large">Offers the latest Segwit Bech32 address format so that you can save on transaction fees.</p>
          </div>
          <div class="feature col-xs-11 col-sm-5 col-sm-offset-1 wow fadeIn" data-wow-delay=".3s" data-wow-duration=".5s">
            <h4>Manage your devices</h4>
            <img class="width-40" src="{{ '/assets/images/feature_icons/bb-app-manage-devices.svg' | relative_url }}" alt="">
            <p class="m-top-large">As the control center, the App allows you to manage and update your BitBox devices with ease.</p>
          </div>
        </div>
        <div class="row center-xs m-top-large">
          <div class="feature col-xs-11 col-sm-5 wow fadeIn" data-wow-delay=".1s" data-wow-duration=".5s">
            <h4>Intuitive onboarding</h4>
            <img class="width-40" src="{{ '/assets/images/feature_icons/bb-app-onboard.svg' | relative_url }}" alt="">
            <p class="m-top-large">Our intuitive step-by-step guide in the BitBoxApp makes it easy to pair and set up your devices in 5 minutes.</p>
          </div>
          <div class="feature col-xs-11 col-sm-5 col-sm-offset-1 wow fadeIn" data-wow-delay=".3s" data-wow-duration=".5s">
            <h4>In-app guide</h4>
            <img class="width-40" src="{{ '/assets/images/feature_icons/bb-app-guide.svg' | relative_url }}" alt="">
            <p class="m-top-large">Cryptocurrency can be confusing but we are with you every step of the way. Our in app guide changes dynamically for each page to support you when you need it.</p>
          </div>
        </div>
        <div class="row center-xs m-top-large">
          <div class="feature col-xs-11 col-sm-5 wow fadeIn" data-wow-delay=".1s" data-wow-duration=".5s">
            <h4>Connect to your local full node</h4>
            <img class="width-40" src="{{ '/assets/images/feature_icons/bb-app-node.svg' | relative_url }}" alt="">
            <p class="m-top-large">We don’t want your data. When connecting your own full node to our desktop app you stay in control of your personal information.</p>
          </div>
          <div class="feature col-xs-11 col-sm-5 col-sm-offset-1 wow fadeIn" data-wow-delay=".3s" data-wow-duration=".5s">
            <h4>Optional coin control</h4>
            <img class="width-40" src="{{ '/assets/images/feature_icons/bb-app-coin-control.svg' | relative_url }}" alt="">
            <p class="m-top-large">Select which coins you want to spend to provide you with tighter control over what information you reveal on the blockchain.</p>
          </div>
        </div>
        <div class="row center-xs m-top-large">
          <div class="feature col-xs-11 col-sm-5 wow fadeIn" data-wow-delay=".1s" data-wow-duration=".5s">
            <h4>Multilingual</h4>
            <img class="width-40" src="{{ '/assets/images/feature_icons/bb-app-multilingual.svg' | relative_url }}" alt="">
            <p class="m-top-large">You can enjoy our app in a range of languages with more to follow: <small><strong>Bulgarian, Chinese, English, German, Hindi, Japanese, Malay, Persian, Portuguese, Russian, Slovenian, Spanish, Turkish.</strong></small></p>
          </div>
          <div class="feature col-xs-11 col-sm-5 col-sm-offset-1 wow fadeIn" data-wow-delay=".3s" data-wow-duration=".5s">
            <h4>Compatibility</h4>
            <img class="width-40" src="{{ '/assets/images/feature_icons/bb-app-compatibility.svg' | relative_url }}" alt="">
            <p class="m-top-large">Supports the BitBox01/02, BitBoxBase and is available for macOS, Windows, Linux and Android.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row center-xs m-top-xxlarge">
      <div class="col-xs-12">
        <p class="gray m-top-xlarge text-center"><a target="_blank" href="https://guides.shiftcrypto.ch/bitboxapp/" class="button primary">View product guide</a></p>
      </div>
    </div>
  </div>
</section>

<section class="with-space leftup leftdown decorator" style="background-image: url(../assets/images/images/mountains4-2.jpg);">
  <div class="content-width">
    <div class="row center-xs">
      <div class="col-xs-11 col-sm-9 col-md-7 text-center">
        <h3 class="subtitle white italic" data-wow-delay=".1s">"We continuously look for ways to make the BitBoxApp as usable as possible. It's at the heart of the BitBox ecosystem."</h3>
        <p class="subtitle end white">Marko Bencun, BitBoxApp Product Lead</p>
      </div>
    </div>
  </div>
</section>
