---
title: BitBoxApp tour
description: A tour on the basic features of BitBoxApp.
image: /assets/images/ogp/bitboxapp.png
redirect_from: /demo/
---

{% include app-subnav.html %}

<section class="rightup topFlat with-space gray-gradient">
  <div class="content-width">
    {% include bitbox-logo.html %}
    <div class="row center-xs">
      <div class="col-xs-11 col-sm-9 col-md-7">
        <h1 class="title">BitBox<span class="lab-light">App</span> tour</h1>
        <h4 class="m-bottom-none">See how easy it is to use our app.</h4>
      </div>
    </div>
  </div>
</section>

<section class="rightup with-space">
  <div class="content-width">
    <div class="row center-xs">
      <div class="col-xs-11 col-sm-9 col-md-7">
        <h4>Transaction history</h4>
        <div class="m-top-xlarge">
          <img src="{{ '/assets/images/guides/demo1.png' | relative_url }}" alt="" />
          <p>You can send or receive coins, check the balance and see the transaction history for:</p>
          <ul class="squares text-left">
            <li>Bitcoin</li>
            <li>Litecoin</li>
            <li>Ethereum</li>
            <li>Tether USD</li>
            <li>Chainlink</li>
            <li>Basic Attention Token</li>
            <li>Maker</li>
            <li>0x</li>
            <li>Dai</li>
          </ul>
          <p>Ethereum and ERC20 tokens in the app are only supported for the BitBox02 Multi edition. If you want to use them with the BitBox01, you have to use the external website <a href="https://www.myetherwallet.com" target="_blank">www.myetherwallet.com</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="rightup rightdown with-space gray-gradient">
  <div class="content-width">
    <div class="row center-xs">
      <div class="col-xs-11 col-sm-9 col-md-7">
        <h4>Receive coins</h4>
        <div class="m-top-xlarge">
          <img src="{{ '/assets/images/guides/demo2.png' | relative_url }}" alt="" />
          <p>Get addresses to receive coins.</p>
          <p>In case of the BitBox02, you can verify the address on your device. In case of BitBox01, we recommend that you use the <a href="{{ site.baseurl }}{% link bitbox01/mobile-pairing.html %}" class="link minimal">mobile app</a> to verify that the displayed address is correct.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="leftup with-space">
  <div class="content-width">
    <div class="row center-xs">
      <div class="col-xs-11 col-sm-9 col-md-7">
        <h4>Send coins</h4>
        <div class="m-top-xlarge">
          <img src="{{ '/assets/images/guides/demo3.png' | relative_url }}" alt="" />
          <p>Create a transaction to spend your coins.</p>
        </div>
        <div class="m-top-xlarge">
          <h4>Confirm transaction</h4>
          <h5>BitBox02</h5>
          <div class="m-top-xlarge">
            <img src="{{ '/assets/images/guides/demo4bb02.png' | relative_url }}" alt="" />
            <p>Confirm the transaction with the touch sliders on your device.</p>
          </div>
          <h5>BitBox01</h5>
          <div class="m-top-xlarge">
            <img src="{{ '/assets/images/guides/demo4bb01.png' | relative_url }}" alt="" />
            <p>Hold the touch button to approve the transaction.</p>
            <p>We recommend that you use the <a href="{{ site.baseurl }}{% link bitbox01/mobile-pairing.html %}">mobile app</a> to verify that the transaction details are correct.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="leftup with-space gray-gradient">
  <div class="content-width">
    <div class="row center-xs">
      <div class="col-xs-11 col-sm-9 col-md-7">
        <h4>Settings</h4>
        <div class="m-top-xlarge">
          <img src="{{ '/assets/images/guides/demo5.png' | relative_url }}" alt="" />
          <p>Manage your app settings here: Select which fiat currencies are relevant to you and which accounts you want to use, enable coin control or connect your own full node.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="leftup leftdown with-space">
  <div class="content-width">
    <div class="row center-xs">
      <div class="col-xs-11 col-sm-9 col-md-7">
        <h4>Manage device</h4>
        <h5>BitBox02</h5>
        <div class="m-top-xlarge">
          <img src="{{ '/assets/images/guides/demo6bb02.png' | relative_url }}" alt="" />
          <p>Manage backups, change the device name, show the BIP39 mnemonic, enable the optional BIP39 passphrase or reset the device.</p>
        </div>
        <h5>BitBox01</h5>
        <div class="m-top-xlarge">
          <img src="{{ '/assets/images/guides/demo6bb01.png' | relative_url }}" alt="" />
          <p>Manage backups, change the device password, create a hidden wallet, pair with the mobile app, enable 2FA or reset the device.</p>
        </div>
      </div>
    </div>
  </div>
</section>
