---
title: BitBox02 reviews
description: Reviews of the BitBox02 hardware wallet
image: /assets/images/ogp/bitbox02.png
---

{% include bitbox02-subnav.html %}

<section class="rightup topFlat with-space gray-gradient" id="hero_BB02">
  <div class="content-width">
    {% include bitbox-logo.html %}
    <div class="row center-xs">
      <div class="col-xs-11 col-sm-7">
        <h1 class="title wow fadeIn" data-wow-delay=".1s">BitBox<span class="lab-light">02</span> reviews</h1>
      </div>
    </div>
    <div class="row center-xs middle-sm m-top-medium">
      <div class="col-xs-11 col-sm-5">
        <h4 class="thin wow fadeIn text-center" data-wow-delay=".2s" id="choose_edition">A collection of BitBox02 hardware wallet reviews</h4>
      </div>
    </div>
    <div class="row center-xs m-top-large">
      <div class="col-xs-11 col-sm-4">
        <div class="bbLogoWrapper">
          <img class="bbLogo" src="{{ '/assets/images/logos/logo_bb02_blue.svg' | relative_url }}" alt="" />
        </div>
        <div class="inline review-button-desktop">
          <p><a target="_blank" href="https://shiftcrypto.ch/shop/en/products/bitbox-02-4/" class="button primary shadow text-center">Buy now</a></p>
        </div>
        <div class="reviews">
          <div class="review text-left">
            <h3>Explore Crypto</h3>
            <div class='embed-container'><iframe src='https://www.youtube.com/embed//T3l5f-gHMRA' frameborder='0' allowfullscreen></iframe></div>
          </div>
          <div class="review text-left">
            <h3>B1ue tech</h3>
            <p>"To summarise, the BitBox02 is finally again a rock solid hardware wallet at a reasonable price. Everything was done right here and the user experience is at a very pleasantly high level."</p>
            <p>
              <a target="_blank" href="https://www.b1ue.tech/2019/11/review-bitbox02-english/">English article review</a><br>
              <a target="_blank" href="https://www.b1ue.tech/2019/10/review-bitbox02/">German article review</a>
            </p>
          </div>
          <div class="review text-left">
            <h3>The Cryptonomist</h3>
            <p>"The interface and the interaction mechanism with the wallet are very nice and ingenious, allowing users to use the device in a simple, precise and fast way, as well as offering better possibilities for the choice of the password."</p>
            <p><a target="_blank" href="https://en.cryptonomist.ch/2019/10/06/review-bitbox02-hardware-wallet-shift-crypto-security/">English article review</a></p>
          </div>
          <div class="review text-left">
            <h3>TOBG</h3>
            <div class='embed-container'><iframe src='https://www.youtube.com/embed//eMkVTOj-4ns' frameborder='0' allowfullscreen></iframe></div>
          </div>
          <div class="review text-left">
            <h3>MyHardwareWallet</h3>
            <p>"We would recommend the BitBox02 to anyone who needs a solid device for securing cryptocurrency."</p>
            <p><a target="_blank" href="https://myhardwarewallet.co.uk/bitbox02-review/">English article review</a></p>
          </div>
          <div class="inline review-button-mobile">
            <p><a target="_blank" href="https://shiftcrypto.ch/shop/en/products/bitbox-02-4/" class="button primary shadow text-center">Buy now</a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-11 col-sm-4 col-sm-offset-1 m-top-xlarge-on-small">
        <div class="bbLogoWrapper m-top-xlarge-on-small">
          <img class="bbLogo" src="{{ '/assets/images/logos/logo_bb02btc.svg' | relative_url }}" alt="" />
        </div>
        <div class="inline review-button-desktop">
          <p><a target="_blank" href="https://shiftcrypto.ch/shop/en/products/bitbox02-bitcoin-only-edition-5/" class="button secondary shadow text-center">Buy now</a></p>
        </div>
        <div class="reviews">
          <div class="review text-left">
            <h3>Bitcoin Magazine</h3>
            <div class='embed-container'><iframe src='https://www.youtube.com/embed//tdP_7LgZw7s' frameborder='0' allowfullscreen></iframe></div>
          </div>
          <div class="review text-left">
            <h3>BesteBank</h3>
            <p>[Translated]: "The Bitbox02 is best used as a Bitcoin-only hardware wallet . That means that as few other firmware and updates as possible are carried out to support other coins. This makes the BitBox02 Bitcoin-only edition the best and most secure Bitcoin hardware wallet on the market."</p>
            <p><a target="_blank" href="https://www.bestebank.org/bitcoin/wallet/bitbox02/">Dutch article review</a></p>
          </div>
          <div class="review text-left">
            <h3>CoinPro</h3>
            <p>[Translated]: "After our test, we like the BitBox02 hardware wallet extremely well. The design is appealing and does not directly give away that it is a hardware wallet. It takes less than five minutes to set up and handling by tapping, swiping or holding the touch sensors on the long sides of the device is easy and intuitive. The double backup option via microSD card and mnemonic seed effectively reduces the risk of losing access to the wallet."</p>
            <p><a target="_blank" href="https://www.coinpro.ch/review-und-anleitung-wie-funktioniert-das-neue-bitbox02-hardware-wallet/">German article review</a></p>
          </div>
          <div class="review text-left">
            <h3>The Coinspondent</h3>
            <p>[Translated]: "In terms of using the device, the software options and the hardware itself, the BitBox02 is a hardware wallet as I would imagine it, when thinking of the keywords "Bitcoin", "Switzerland" and "2019": Solid, secure, customer-oriented and reliable. [...] with the BB02 shift has raised the bar considerably for hardware wallets."</p>
            <p><a target="_blank" href="https://coinspondent.de/2019/11/27/bitbox02-die-schweiz-als-hardware-wallet/">German article review</a></p>
          </div>
          <div class="review text-left">
            <h3>Lunaticoin</h3>
            <p>[Translated]: "The device is well designed and the interaction with it is 10/10. Tapping, sliding and holding down non-existent buttons gives it a premium feel. The usability is delightful.[...] As of writing (Nov, 19) the BitBox02 to me seems the best option to choose for someone who has just started getting into the Bitcoin/Crypto world but currently only uses software wallets (coinbase, bluewallet, Muun, samourai, wasabi) and decides to improve their security without the complexity of using a ColdCard."</p>
            <p><a target="_blank" href="https://medium.com/@lunaticoiner/bitbox02-an%C3%A1lisis-en-profundidad-5c8df6ad243d">Spanish article review</a></p>
          </div>
          <div class="inline review-button-mobile">
            <p><a target="_blank" href="https://shiftcrypto.ch/shop/en/products/bitbox02-bitcoin-only-edition-5/" class="button secondary shadow text-center">Buy now</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row center-xs m-top-large review-button-desktop">
      <div class="col-xs-11 col-sm-4">
        <div class="inline">
          <p><a target="_blank" href="https://shiftcrypto.ch/shop/en/products/bitbox-02-4/" class="button primary shadow text-center">Buy now</a></p>
        </div>
      </div>
      <div class="col-xs-11 col-sm-4 col-sm-offset-1 m-top-xlarge-on-small">
        <div class="inline">
          <p><a target="_blank" href="https://shiftcrypto.ch/shop/en/products/bitbox02-bitcoin-only-edition-5/" class="button secondary shadow text-center">Buy now</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
